/var/www
/vendor
/node_modules
/public/build
/.env
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/bootstrap/cache/*
.git
.github
.gitignore
Dockerfile
.dockerignore
docker-compose.yml
tests
docs
*.md
npm-debug.log
yarn-error.log
.gitattributes
.env.*
!.env.example